.grip
    .container.gray
        .jumbotron
            img(src="img/hero_simple.png")
            
.container
    .row
        .col-xs-offset-1.col-xs-10
            
            h1 Добро пожаловать
            p
            p Данный ресурс посвящен ряду очных курсов под общим названием "Математическое моделрование и проекктирование в экологии". Курс читается для магистрантов первого года обучения Факультета почвоведения, агрохимии и экологии. На данном сайте будут публиковаться тексты проходимых занятий и материалы необходимые для успешного прохождения данного курса.
            

            h3 Особенности
            p В связи с невероятно быстро растущей популярностью и очень широким полем текущего применения языка R в экологии и ряд других научных и прикладных областей деятельности, моделированние в данном курсе будет изучатся на языке R. Язык довольно специфичен, но при этом относительно прост в освоении даже для людей не знакомых с программированием. В связи со свободной формой его распространения (open source) и интерес со сторонны гигантов рынка программного обеспечения на данный момент язык обладает хорошо развитой инфраструктурой и невероятно широким набором библиотек. Все необходимые операции по установке и настройке среды разработки для языка R описаны в 
                a(href="/install/") соответствующем разделе.
            h3 Примерная программа
            p
            ol
                li Введение в программирование на R. Типы данных
                li Введение в программирование на R. Циклы и итерации в R
                li Введение в программирование на R. Условия в R
                li Введение в программирование на R. Фильтры и выборки
                li Введение в программирование на R. Пакеты и специальные функции
                li Коллоквиум. Физические модели. Формализация.
                li Модели переноса.
                li Перенос в пористых средах.
                li Параметризация и калибровка моделей.
                li Аналитические методы в моделировании.
                li Практическое занятие – перенос органического вещества.
                li Коллоквиум. Численные методы.
                li Численные методы для временных рядов – Анализ газовых потоков.
                li Итеративный поиск решения моделей.
                li Модель Хищник-Жертва.
                li Модели работающие на разных временных масштабах.
                li Динамические матричные модели.
                li Коллоквиум. Модели динамики популяций.
                li Методы динамического программирования.
                li Тестирования и проверка моделей.


           // a.btn.btn-primary.btn-lg(href="#{baseUrl}/docs") View the documentation